*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
	--ff-primary: 'Lora', serif;
	--ff-secondary: 'Roboto Slab', serif;

	--fw-reg: 400;
	--fw-bold: 700;
	
	--clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
	--fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.center {
    display: flex;
    justify-content: center;
}

.logo {
	max-width: 200px;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-family: var(--ff-secondary);
}

.nav__list {
	text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-dark);
}

.nav__item > li {
	list-style-type: none;
}

header,
main,
section,
footer {
	padding: 1.5rem;
}

form.search input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60vh;
    background: #f1f1f1;
}

.search-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.search button {
    float: right;
    width: 40vh;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }


footer {
	font-family: var(--ff-primary);
	text-align: center;
	text-transform: uppercase;
}

section {
	min-height: 200px;
	background-color: #bbbbbb;
}

section:nth-child(even) {
    background-color: #dddddd;
}

section > p {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

* + ul {
	margin-top: 1rem;
}

form {
	display: inline-flex;
	flex-direction: column;
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='submit'],
form textarea {
	margin-top: 0.5rem;
	padding: 0.5rem;
	display: block;
}

hr {
	margin: 1.5rem 0;
}
